<!-- data-bloc="chartjs_2bar1line" -->
    <!-- $chartjsColor="Tableau10" data-none -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js" integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        Blues3 = ["#deebf7", "#9ecae1", "#3182bd"],
        Tableau10 = ["#4E79A7", "#F28E2B", "#E15759", "#76B7B2", "#59A14F", "#EDC948", "#B07AA1", "#FF9DA7", "#9C755F", "#BAB0AC"];
        
        document.addEventListener("DOMContentLoaded", function(){
            var {{ $graphId }}Data = {
                labels: <!-- data-val=$graphLabels data-convert="raw" -->,
                datasets: [
                    {
                        type: "line",
                        label: "{{ $graphLegendLine1 }}",
                        backgroundColor: {{ $chartjsColor }}[2],
                        borderColor: {{ $chartjsColor }}[2],
                        data: {{ $graphDataLine1 }},
                        yAxisID: "y2"
                    },
                    {
                        type: "bar",
                        label: "{{ $graphLegendBar1 }}",
                        backgroundColor: {{ $chartjsColor }}[0],
                        borderColor: {{ $chartjsColor }}[0],
                        data: {{ $graphDataBar1 }},
                        yAxisID: "y1"
                    },
                    {
                        type: "bar",
                        label: "{{ $graphLegendBar2 }}",
                        backgroundColor: {{ $chartjsColor }}[1],
                        borderColor: {{ $chartjsColor }}[1],
                        data: {{ $graphDataBar2 }},
                        yAxisID: "y1"
                    }
                ]
            }

            var {{ $graphId }}Canvas = document.getElementById("{{ $graphId }}").getContext("2d")

            new Chart({{ $graphId }}Canvas, {
                data: {{ $graphId }}Data,
                options: {
                    plugins: {
                        legend: {
                            display: false,
                        },
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y1: {
                            position: "left",
                            max: {{ $graphYaxisMax }},
                            min: 0,
                            tension: .25
                        },
                        y2: {
                            position: "right",
                            max: {{ $graphY2axisMax }},
                            min: 0,
                            grid: {
                                display: false
                            }
                        }
                    }
                }
            })
        })
    </script>
<!-- data-endbloc -->
