<script src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/1.11.1/libphonenumber-js.min.js" integrity="sha512-yS0AHkSS09VCH2wqNLDv7qZ7RaQQhL2OfCbeTgTs2PSrSPhXKm7Qvwe3I1h/cCQtg0ElsiHI2ysYvNJXfgSHqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    new MutationObserver((mutations) => {
        document.querySelectorAll(".ai-phone").forEach(function(item, i) {
            item.addEventListener("keyup", function(){
                let validateTel = function (value) {
                    return /^[0０]/.test(value) && libphonenumber.isValidNumber(value, "JP");
                }
                let formatTel = function (value) {
                    return new libphonenumber.AsYouType("JP").input(value);
                }
                const postdata = this.value;
                if (!validateTel(postdata)) {
                    return
                }
                let formatted = formatTel(postdata);
                this.value = formatted;
            });
            item.classList.remove("ai-phone");
        });
    }).observe(document, {
        childList: true,
        subtree: true
    });
</script>
