<!-- data-include="jquery.html" -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/ja.min.js" integrity="sha512-F3rumY/Kl8PDQPZarAHVxniZnEz60v6B/RMrZDrwjPCIDWQsJoeFpef/Mzx09CebCWPHvrI097BbQ1GtP+P0SQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    new MutationObserver((mutations) => {
        $(".ai-select2").each(function(){
            $(this).removeClass("ai-select2");
            $(this).css("width", "100%");
            $(this).select2({
                width: "resolve"
            });
            $(this).on("select2:close", function(){
                if ($(this).val().length) {
                    $(this).closest(".input-group").addClass("is-filled");
                } else {
                    $(this).closest(".input-group").removeClass("is-filled");
                }
            }).on("change.select2", function(){
                $(this).closest("form[role=search]").submit();
            })
        });
    }).observe(document, {
        childList: true,
        subtree: true
    });

    $(() => {
        $('.select2-hidden-accessible[multiple]').each(function () {
            const $select = $(this)
            if ($select.children('option:selected').length > 0) {
                $select.parents('.input-group').addClass('is-filled')
            }
        })
    })
</script>
