<!-- data-include="/admin/base/common/header.html" -->

<div class="row">
    <div class="dashboard-card">
        <!-- data-include="include/user.html" -->
        <!-- data-include="include/user.html" -->
        <!-- data-include="include/user.html" -->
        <!-- data-include="include/user.html" -->
        <!-- data-include="include/user.html" -->
        <!-- data-include="include/user.html" -->
    </div>
</div>

<div class="row">
    <div class="col">
        <!-- data-include="include/userGraph.html" -->
    </div>
</div>

<!-- data-include="/admin/base/common/footer.html" -->
