<!--
    data-include="/admin/base/entry/header.html"
    $subTitle=lang("template:resource_blocs_modal_update_title")
-->
<!-- data-include="include/form.html" -->

<input type="hidden" name="updated_at" />

<div class="card">
    <!-- data-include="cardHeader" -->
    <div class="card-body pt-2 d-flex flex-column gap-3">
        <!-- data-include="form_email" -->
        <!-- data-include="form_role" -->
        <!-- data-include="form_name" -->
        <!-- data-include="form_password_old" -->
        <!-- data-include="form_password_new" -->
        <!-- data-include="form_repassword_new" -->
    </div>
</div>

<!-- data-bloc="buttonBottomLeft" -->
    <!--
        data-include="button_back"
        $buttonHref=route(prefix().".index")
    -->
<!-- data-endbloc -->

<!-- data-bloc="buttonBottomRight" -->
    <!-- data-include="modal_update" -->
<!-- data-endbloc -->

<!-- data-include="/admin/base/entry/footer.html" -->
