<!-- $searchPlaceholder=lang("template:admin_user_search") -->
<!-- data-bloc="searchFilter" -->
<!-- data-endbloc -->

<!-- $unselectable=0 -->

<!-- data-bloc="buttonCardHeader" -->
    <a :href=route(prefix().".create") class="me-3">
        <i class="fa-solid fa-plus" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:resource_blocs_modal_new_title")></i>
    </a>
<!-- data-endbloc -->

<!-- data-include="/admin/base/index/header.html" -->

<div class="card">
    <!-- data-include="cardHeader" -->
    <div class="alert alert-info m-2" role="alert" data-none=$isLoop>
        <!-- data-lang="template:resource_blocs_base_index_no_data" -->
    </div>
    <div class="dataTable-wrapper no-footer" data-exist=$isLoop>
        <div class="dataTable-container">
            <div class="table-responsive">
                <table class="table dataTable-table">
                    <thead class="thead-light">
                        <tr>
                            <th class="w-1" data-none=$unselectable>
                                <div class="form-check p-0 fs-6">
                                    <input type="checkbox" class="form-check-input" />
                                </div>
                            </th>
                            <!-- data-include="sortHeader" $sortItem="email" -->
                            <th>
                                <!-- data-include="sortHref" -->
                                <a class="dataTable-sorter"><!-- data-lang='template:admin_profile_user_id' --></a>
                            </th>
                            <!-- data-include="sortHeader" $sortItem="role" $sortClass="d-none d-md-table-cell" -->
                            <th>
                                <!-- data-include="sortHref" -->
                                <a class="dataTable-sorter"><!-- data-lang='template:admin_user_role' --></a>
                            </th>
                            <!-- data-include="sortHeader" $sortItem="created_at" $sortClass="d-none d-lg-table-cell" -->
                            <th>
                                <!-- data-include="sortHref" -->
                                <a class="dataTable-sorter"><!-- data-lang='template:admin_user_header_registration' --></a>
                            </th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-loop=$users>
                            <td data-none=$unselectable>
                                <div class="form-check p-0 fs-6">
                                    <input type="checkbox" name="selectedRows[]" class="form-check-input" :value=$user->id />
                                </div>
                            </td>
                            <td>
                                <span class="badge text-bg-success me-2" data-none=$user->disabled_at><i class="fa-solid fa-check"></i></span>
                                <span class="badge text-bg-warning me-2" data-exist=$user->disabled_at><i class="fa-solid fa-ban"></i></span>
                                <!-- $user->email -->
                            </td>
                            <td class="d-none d-md-table-cell"><!-- $user->role --></td>
                            <td class="d-none d-lg-table-cell"><!-- $user->created_at->toDateString() data-convert="date" --></td>
                            <td class="text-nowrap">
                                <a class="me-3" data-bs-toggle="modal" data-bs-target="#modalActivate" :data-modalaction=route(prefix().".toggle", ["id" => $user->id]) data-exist=$user->disabled_at>
                                    <i class="fa-solid fa-check" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:admin_user_valid_title")></i>
                                </a>
                                <a class="me-3" data-bs-toggle="modal" data-bs-target="#modalInactivate" :data-modalaction=route(prefix().".toggle", ["id" => $user->id]) data-none=$user->disabled_at>
                                    <i class="fa-solid fa-ban" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:admin_user_invalid_title")></i>
                                </a>
                                <a :href=route(prefix().".edit", ["id" => $user->id]) class="me-3">
                                    <i class="fa-solid fa-pen" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:resource_blocs_modal_update_title")></i>
                                </a>
                                <a :href=route(prefix().".show", ["id" => $user->id]) class="me-3">
                                    <i class="fa-solid fa-trash" data-bs-toggle="tooltip" :data-bs-original-title=lang("template:resource_blocs_modal_delete_title")></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- data-exist=$paginate -->
        {{ $paginate->links("admin.base.index.pagination") }}
        <!-- data-endexist -->
    </div>
</div>

<!-- data-bloc="modalFooterRight" -->
    <!--
        data-include="buttonSuccessModal"
        $buttonModalLabel=lang("template:admin_user_button_valid")
    -->
<!-- data-endbloc -->
<!--
    data-include="modal"
    $modalName="modalActivate"
    $modalTitle=lang("template:admin_user_valid_title")
    $modalMessage=lang("template:admin_user_valid_message")
    data-exist=$isLoop
-->

<!-- data-bloc="modalFooterRight" -->
    <!--
        data-include="buttonWarningModal"
        $buttonModalIcon="fa-solid fa-ban"
        $buttonModalLabel=lang("template:admin_user_button_invalid")
    -->
<!-- data-endbloc -->
<!--
    data-include="modal"
    $modalName="modalInactivate"
    $modalTitle=lang("template:admin_user_invalid_title")
    $modalMessage=lang("template:admin_user_invalid_message")
    data-exist=$isLoop
-->

<!-- data-bloc="buttonBottomLeft" -->
    <!--
        data-include="modal_destroy"
        $buttonClass="btn btn-outline-danger"
        $modalAction=route(prefix().".select")
        data-if="$isLoop && empty($unselectable)"
    -->
<!-- data-endbloc -->

<!-- data-bloc="buttonBottomCenter" -->
    <!-- data-include="button_create" -->
<!-- data-endbloc -->

<!-- data-include="/admin/base/index/footer.html" -->
